/* reset margin and padding to 0 to remove all default browser settings */
/* * {
  margin: 0;
  padding: 0;
} */
/* Stylig using tag selectors */
/* anchor tag styling */
a {
  margin: auto;
  display: inline-block;
  /* change display to inline, block, none etc and observe the difference*/
  padding: 10px;
  text-decoration: none;
  background-color: blueviolet;
  color: azure;
  border-radius: 5px;
}

ul {
  background: azure;
  border-radius: 3pt;
  display: inline-block;
  border: 1px solid blueviolet;
  border-collapse: collapse;
}

li {
  border: 1px solid;
  background-attachment: fixed;
  background-color: darkseagreen;
}

img {
  margin: auto;
  padding: 10px 10px;
  display: inline-block;
  width: auto;
  max-width: 400px;
  min-width: 100px;
}

form {
  background: burlywood;
  margin: auto;
  padding: 10px;
}

label {
  margin: auto;
  padding: 10px;
}
input {
  margin: 10px;
  padding: 0px;
  align-items: center;
  border-radius: 3px;
  border: none;
  box-shadow: blue;
}

button {
  color: white;
  background-color: darkolivegreen;
  margin: 30px 30px;
  padding: 10px 20px;
}

/* Styling Using Classes, Id and pseudo selectors  */

/* box model styling and divs */
